body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}
h1 {
    margin: 0;
}
#tradingview-widget-container {
    margin-top: 20px;
}
